<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="/scripts/navigate.js"></script>
    </head>

    <body>
        <form method="GET" action="{{url.quickUrl}}">
            Quick URL: <input type="text" name="url" /> <button type="submit">Go to issue</button>
        </form>
    </body>
</html>